.popWrap{
    display: none;
    width: 400px;
    margin: 60px auto 20px auto;
    .popSubmitBtn{
        text-align: center;
        padding-top: 5px;
    }
}
.centerBtnWrap{
    padding: 20px 0;
}
.notice{
    font-size: 18px;
}
.describe{
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}
//咨询消息详情页面
.hisMsgUl{
    margin: 20px 0;
    font-size: 14px;
    li{
        margin-bottom: 15px;
    }
    .userLogo{
        width: 40px;
            img{
                border-radius: 50%;
            }
    } 
    .rightMsg{
        margin-left: 10px;
        width: 95%;
        >div{
           line-height: 20px;
        }
    }
}
//客户跟进弹窗
.clientPop{
    display: none;
    width: 500px;
    margin: 20px  auto
}
.logText{
    font-size: 16px;
    padding: 10px 0;
}
.logUl{
    li{
        border: 1px solid #eee;
        padding: 10px;
        margin-bottom: 15px;
    }
    .backMsg{
        padding: 10px 0;
    }
}
//编辑权限页面样式
.editRoleWrap{
    min-width: 900px;
}
.powerListUl{
    >li{
        border: 1px solid #eee;
        padding: 10px;
        margin-bottom: 15px;
    }
    .basePower{
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }
    .powerName{
        font-size: 14px;
        padding-bottom: 5px;
        
    }
    .otherPower{
        padding-top: 10px;
    }
    .subPower{
        padding-left: 15px;
    }
}
//项目列表页面
.projectWrap{
    padding: 10px 0 20px 0;
    font-size: 14px;
    >a{
        margin-left: 30px;
        color: #1E9FFF;
        &:hover{
            opacity: .8
        }
    }
}
.popModel{
    width: 500px;
    margin: 50px auto 20px auto
}
.newModelWrap{
    text-align: center;
}
//项目详情页面
.proDetailWrap{
    width: 750px;
    margin: 0 auto;
}
//新建抽奖页面
.formTab,.showTab{
    width: 750px;
}
.formTab{
    margin-right: 20px;
}
.formInner{
    max-width: 640px;
}
.uploadImgWrap{
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    cursor:pointer;
    .uploadBtn{
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        height: 80px;
        z-index: 20;
        background: none;
        opacity: 0;
    }
    .imgHome{
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        height: 80px;
        z-index: 10
    }
}
.editBtns{
    width: 100px;
}
//小程序授权页面
.toppart{
    background-color: #eee;
    .righttext{
        padding-left: 20px;
        padding-top: 25px;
    }
    .bottomBtns{
        margin-top: 10px;
        a{
            display: inline-block;
            width: 100px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 5px;
            margin-right: 15px;
            background-color: #fff;
            border: 1px solid #e2e2e2;
        }
    }
}
.bottomnotice{
    margin-top: 20px;
    .warmnotice{
        font-size: 14px;
    }
   .noticetext{
       font-size: 20px;
       padding: 15px 0;
   }
   .noticeitem p{
       line-height: 25px;
   }
}

/*抽奖预览页面*/
.contentinner{
    width: 343px;
    height: 603px;
    margin: 20px auto;
    padding: 88px 23px;
    background: url(../images/iphone6.png) center top no-repeat;
}
.paddinginner{
    width: 100%;
    height: 100%;
}
.blackbg{
    background-image: url(../images/blackbg.png),url(../images/activebg.jpg);
    background-position:  top left,center top;
    background-repeat:  repeat,no-repeat;
}
.tabindex{
    position: relative;
    background: url(../images/activebg.jpg) center top no-repeat;
}

.prizetip{
    position: absolute;
    right: 10px;
    top: 30px;
}
.prizetipimg{
    width: 80px;
    height: 80px;
}
.activename{
    text-align: center;
    color: #fff;
    padding: 10px 0 10px 0;
    font-size: 16px;
}
.prizetime{
    text-align: center;
    line-height: 25px;
    margin-top: 10px;
    font-size: 14px;
    color:#FFEE4E;
    span{
        color: red
    }
}
.prizemsg{
    line-height: 30px;
    margin-top: 15px;
    color:#FFEE4E;
    padding: 0 10px;
}
.prizepart{
    width: 300px;
    height: 306px;
    margin: 20px auto 30px auto;
    background: url(../images/prizewarpbg.png) center center no-repeat;
    background-size: cover;
}
.prizeinner{
    padding: 20px;
}
.priceitem{
    width: 75px;
    height: 75px;
    margin-left: 8px;
    margin-top: 8px;
    background: url(../images/prizebg.png) center center no-repeat;
    background-size: cover;
    .itemimg{
        width: 75px;
        height: 75px;
    }
}
.colorred{
    color: red;
    font-size: 16px;
}
.times,.share{
    text-align: center;
    line-height: 30px;
    color:#FFEE4E;
}
.times span{
    padding: 0 5px;
}
.deswrap{
    padding: 20px;
}
.desli{
    margin-bottom: 10px;
    p{
        background-color: #eee;
        line-break: 35px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    span{
        padding: 10px;
    }
}

.prizeul{
    padding: 20px 10px;
    li{
        border: 1px solid #eee;
        padding: 5px 10px;
        margin-bottom: 10px;
        div:first-child{
            margin-bottom: 5px;
        }
        span{
            font-weight: bold;
        }
    }   
}

.noprize{
    line-height: 25px;
    padding-top: 100px;
    text-align: center
}

.prizewrap{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    .toptext{
        line-height: 25px;
        font-size: 16px;
        color: #fff;
        margin-bottom: 20px;
    }
    .centertext{
        line-height: 30px;
        font-size: 16px;
        color: red;
    }
}
.pricenotice{
    color: #fff;
}
.prizeimg{
    width: 131px;
    height: 140px;
}
.noprizeimg{
    width: 230px;
    height: 215px;
}
/*抽奖推广页面*/
.popwarp{
    width: 300px;
    height: 420px;
    background: url(../images/activebg.jpg) center top no-repeat;
}
.downPop{
    width: 300px;
    height: 480px;
    margin: 0 auto;
    .activename{
        padding: 10px 0 5px 0;
    }
    .prizepart{
        width: 250px;
        height: 250px;
        margin: 15px auto;
    }
    .priceitem{
        width: 60px;
        height: 60px;
        .itemimg {
            width: 60px;
            height: 60px;
        }
    }
    .prizemsg,.erweimanotice{
        color: #fff;
        text-align: center;
        margin-top: 0;
        line-height: 30px;
    }
    .poplog{
        display: block;
        width: 87px;
        height: 32px;
        margin: 0 auto;
    }
    .downImg{
        display: block;
        margin: 10px auto;
        cursor: pointer;
    }
}